
.inputWrapper {
    border: 1px solid black;
    display: flex;
    align-items: center;
    background-image:none;
    background-color: white;
    width: 100%;
    height: 39px;
    .inputStyle{
        width: 100%;
        padding: 7px 60px 9px 15px;
        margin: 0;
        border: none;
        background-image:none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    
        &:focus{
           outline: none; 
        }
    }

    .btnStyle{
        width:  46px;
        height: 39px;
        border: none;
        background-image:none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
       
        &:focus{
            outline: none; 
         }
    
    }
}