
.inputWrapper {
    border-radius: 4px;
    display: flex;
    align-items: center;
    background-image:none;
    background-color: white;
    width: 100%;
    height: 39px;

    .inputStyle{
        width: 100%;
        padding: 7px 60px 9px 15px;
        margin: 0;
        border: none;
        background-image:none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    
        &:focus{
           outline: none; 
        }
    }

    .btnStyle{
       width: 36px;
       height: 36px;
        border: none;
        background-image: url('../../../Assets/Icons/ic_Search@2x.png.png.png');
        background-repeat: no-repeat;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
       
        &:focus{
            outline: none; 
         }
    
    }
}