.productView{
    grid-column-start: content;
    grid-row-start: 2;
    grid-row-end: 11;
    background-color: white;
    border-radius: 4px;
}


@media only screen and (max-height : 768px){
    .productView{
        margin-top: 20px;
    }
}