@use "./Styles/global.module.scss" as global;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.appContainer{
    display: grid;
    grid-template-columns: 1fr [content] 70% 1fr;
    grid-template-rows: repeat(11, 9.3%);
    background-color: global.$meli-light-grey;
}