//colors
$meli-yellow : #fff159;
$meli-black : #333333;
$meli-dark-grey: #666666;
$meli-grey : #999999;
$meli-light-grey: #EEEEEE;
$meli-blue: #3383fa;

//font
$meli-font : Proxima Nova; 
$meli-font-size-14px: 14px;
$meli-font-size-16px: 16px;
$meli-font-size-18px: 18px;
$meli-font-size-24px: 24px;
$meli-font-size-46px: 46px;

//margins
$meli-margin-16px: 16px;
$meli-margin-32px: 32px;

// measue
$meli-width-680px: 680px;
$meli-width-180px: 180px;

// radius
$meli-borderRadius-4px: 4px;