.listStyle{
    flex-flow: column;
    grid-column-start: content;
    grid-row-start: 2;
    grid-row-end: 11;
}

.detailStyle{
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-auto-rows: minmax(min-content, max-content);
    border-radius: 4px;
    height: 100%;
    background-color: white;
}