.descriptionContainer{
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 7;
    grid-row-end:8;
    margin-left: 32px;
    width: 100%;
    height: 138px;
    

    .descriptionWrapper{
        width: 100%;
        height: 100%;
        overflow: scroll;
    }

    .description{
        height: 100px;
        display: inline-block;
    }
}


@media only screen and (max-height : 768px){
    .descriptionContainer{
        margin-top : 32px;
    }
}