.buyProduct{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-top: 32px;
    margin-right: 32px;
}