@use "../../../Styles/global.module.scss" as global; 

.priceTagList {
    font-size: global.$meli-font-size-24px;
    margin-bottom: 16px;
    display: flex;


    .shippingLogo{
        width: 36px;
        height: 36px;
        display: inline-block;
        position: relative;
        bottom: 4px;
        margin-left: 5%;
        background-image: url("../../../Assets/Icons/ic_shipping@2x.png.png.png");
    }
}

.priceTagDetail{
    margin: 0 0 32px 0;
    font-size: global.$meli-font-size-46px;
    display: flex;
    
}

