
.iconWrapper{
    height: auto;
    margin: 0 4% 0 0;
    
    .iconStyle{
        content: url('./images/meli-logo-small.png');
        max-width: 60px;
        max-height: 40px;
        background-repeat: no-repeat;
    }
}


