
.iconWrapper{
    width: 15%;
    height: auto;
    margin: 0 2% 0 0;
    
    .iconStyle{
        background-image: url('./images/meliAresized.png');
        max-width: 134px;
        height: 34px;
        background-repeat: no-repeat;
    }
}
